*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rethink sans';
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
}

nav{
    position: fixed;
    display: flex;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
    padding: 1.7vw 6vw;
    height: 12.5vh;
    background-color: #111;
    z-index: 10;
}

nav:hover #nav-dropdown{
    height: 150%;
}
#nav-list{
    display: flex;
    gap: 2vw;
    padding: 0.8vh 0;
    position: relative;
    z-index: 10;
}
#nav-list h4{
    text-transform: uppercase;
    font-size: 0.9vw;
    font-weight: 550;
}

.nav-list-items h5{
    margin-bottom: 1vw;
    font-size: 0.9vw;
    display: none;
    overflow: hidden;
}
 

.nav-list-items h4{
    margin-bottom:1.5vw;
}
.nav-list-items h5 span{
    display: inline-block;
    transform:translateY(25px);

}

nav button{
    background-color: #0BA34E;
    border-radius: 50px;
    padding: 1vw 1vw;
    border:none;
    outline: none;
    font-size: 0.9vw;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-weight: 600;
    justify-content: space-between;
}
.nav-dropdown{
    width: 88%;
    height: 0vh;
    position: absolute;
    background-color: red;
    top: 12.5vh;
    background-color: #111;
    border-bottom: 1px solid #fff;
}

nav button span{
    padding-right: 1vw;
}
nav button svg{
    height: 1vw;
    margin-left: 1vw;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page1 h1{
    font-size: 9.5vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 8.5vw;
}
#page1 h1:nth-of-type(1){
    margin-top: 9vw;
    margin-bottom: 0.7vw;
}

#page1 h1 svg{
    height: 6vw;
    width: 6vw;
    background-color: #0DA34E;
    border-radius: 50%;
}


#expertise{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.2vw;
}

#expertise h4{
    font-weight: 400;
    font-size: 1.2vw;
    text-transform: lowercase;
    padding: 5px 8px;
    border: 1px solid #a5a5a5;
    border-radius: 50px;
}

#expertise h4:nth-last-child(2){
    border:none;
    padding: 0;
}

#expertise h4{
    margin: 0 1px;
}

.ad{
    text-align: center;
    font-size: 1.2vw;
    margin-top: 3vw;
}

.clients{
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    animation-name: move;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}
.clients .img-div img{
    width:6vw;
    height: 2.5vw;
    padding: 0 1vw;
}

.clients-list{
    display: flex;
    width: 50%;
    justify-content: center;
    margin:0 auto;
    overflow: hidden;
}
@keyframes move {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

.blur-left{
    height: 100%;
    width: 10%;
    background-color: red;
    width: 20%;
    top: 0;
    left: 0;
    z-index: 2;
}
.blur-left{
    height: 100%;
    width: 10%;
    background-color: red;
    width: 20%;
    top: 0;
    right: 0;
    z-index: 2;
}

#page2{
    height: 111vh;
    width: 100%;
    background-color: #111;
    position: relative;
    
}

.articles{
    border-top: 1px solid white;
    margin: 8vw 6vw;
    height: 100vh;
    padding-top: 2vw;
    padding-bottom: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-section{
    height: 100%;
    width: 50%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2vw;
}

.left-top{
    padding-top: 1vw;

}
.left-bottom{
    padding-bottom: 3vw;

}

.right-section{
    height: 100%;
    width: 50%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rs-div{
    display: flex;
    height:30vh;
    border-bottom: 1px solid rgb(58, 45, 45);
    padding-top: 1.5vw;
    position: relative;
}

.rs-div img{
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    scale: 0;
}

.rs-div:nth-of-type(1){
    padding-top: 0;
}
.rs-div h2{
 width: 70%;
}

.span-div{
    width: 30%;
    text-align: right;
}

.span-div span{
    display: flex;
    align-items: center;
    justify-content: right;
    color: #666;
    font-size: 1vw;
}
.span-div svg{
    width: 0.9vw;
    height: 1vw;
    margin-left:25px;
}





#page-3{
    height: 100vh;
    width: 100%;
    background-color: #111;
}

